@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');

* {
    background: url(../assets/background.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: white;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
}

.container-2 {
    margin: 0 !important;
}

.row {
    width: 100vw;
}

.col-1 {
    width: 33vw !important;
    text-align: left !important;
    transform: translateY(9%);
    margin-left: 10px;
}

.col-2 {
    width: 33vw !important;
    text-align: center !important;
    transform: translateY(18%);
}

.col-3 {
    width: 33vw !important;
    text-align: right !important;
    transform: translateY(10%);
    height: 100vh;
}

.planet-earth {
    width: 66px;
}

.star-view {
    padding-top: 20px;
    width: 357px;
    height: 277px;
    border-radius: 25px;
}

.genfont {
    font-family: 'Rubik', sans-serif;
}

.starview-head {
    font-family: 'Rubik Mono One', sans-serif;
    font-size: 40px;
    padding-bottom: 20px;
}

.location {
    font-family: 'Chakra Petch', sans-serif;
    font-size: 40px;
}

.headline {
    font-family: 'Dancing Script', cursive;
    font-size: 64px;
    padding-bottom: 60px;
}

.bestsellers {
    font-family: 'Rubik Mono One', sans-serif;
    font-size: 22px;
}

.maincourse {
    font-family: 'Rubik Mono One', sans-serif;
    font-size: 22px;
}

.starview-cuisine {
    width: 1200px;
    padding-left: 50px;
}

.navbar {
    height: 5rem;
    background: #1A1C22 !important;
}

.container-1 {
    background: #1A1C22;
}

.navbar-brand {
    background: #1A1C22;
}

.logo {
    background: #1A1C22;
    width: 4.063rem;
}

.bag-fill {
    width: 1.625rem;
    margin-inline: 1.25rem;
}

.cartbag {
    display: none;
}

.nav-item {
    background: #1A1C22;
}

.nav-link {
    color: white !important;
    background: #1A1C22;
    transition: opacity 1s;
}

.nav-link:hover {
    opacity: 75%;
}

.tofoodships {
    margin-inline: 1.25rem;
    font-family: 'Roboto', sans-serif;
}

.btn {
    font-family: 'Press Start 2P', cursive !important;
    width: 350px;
    margin-bottom: 40px;
    border: #1D2376 2px solid !important;
}

.btn:hover {
    border: #151a58 2px solid !important;
}

a:link {
    text-decoration: none;
}

@media only screen and (max-width: 1600px) {
    html, body {
        max-width: 100%;
        overflow-x: hidden;
        overflow-y: auto;
    }

    .bag-fill {
        display: none;
    }

    .cartbag {
        display: block;
        background: #1A1C22;
        font-family: 'Roboto', sans-serif;
        margin-bottom: 0;
    }

    .container-2 {
        margin: 0 !important;
    }
    
    .col-1 {
        width: 100vw !important;
        text-align: center !important;
        transform: translateY(18%);
        margin-left: 0.625rem;
    }
    
    .col-2 {
        width: 100vw !important;
        text-align: center !important;
        transform: translateY(18%);
    }
    
    .col-3 {
        width: 100vw !important;
        text-align: right !important;
        transform: translateY(10%);
    }

    .star-view {
        width: 19.735399353rem;
        height: 15.313rem;
    }

    .starview-cuisine {
        display: none;
    }
}