@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch&family=Press+Start+2P&family=Rubik&family=Rubik+Dirt&family=Rubik+Wet+Paint&family=Ruda&display=swap');
body {
    background: url(../assets/background.jpg) no-repeat center center fixed;
}

.navbar-toggler {
    background: #1A1C22;
}

.navbar-toggler-icon {
    background: #1A1C22;
}

.collapse {
    background: #1A1C22;
    display: flex;
    justify-content: right;
}

.rubik-wet-paint {
    font-family: 'Rubik Wet Paint', sans-serif;
    color: #ffffff;
}

.rubik{
    font-family: 'Rubik', sans-serif;
    color: #ffffff;
}

.ruda {
    font-family: 'Ruda', sans-serif;
    color: #ffffff;
}

.rubik-dirt {
    font-family: 'Rubik Dirt', sans-serif;
    color: #ffffff;
}

.press-start-2p {
    font-family: 'Press Start 2P', cursive;
    color: #ffffff;
}

.chakra {
    font-family: 'Chakra Petch', sans-serif;
    color: #ffffff;
}

.location-label{
    margin: 1%;
    margin-top: 3%;
    margin-left: 7%;
    font-size: 1.2rem;
}

.location-text{
    margin: auto;
    margin-left: 1.2%;
    margin-top: 3.2%;
}

.earth-icon{
    margin-bottom: 0;
    width: 3%;
    margin-top: 2.3%;
    height: 3%;
}

.top{
    display: flex;
    
}

.nearby-label{
    text-align: center;
    font-size: 2.2rem;
    font-weight: 800;
    margin-top: 5%;
}

.flex-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 2%;
}

.box{
    width: 100%;
    border-radius: 20px;
    margin: 5%;
}

.box:hover{
    background: rgba(217, 217, 217, 0.06);
}

.star-view-image{
    overflow: hidden;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 25px;
    width: 90%;
    margin: 5%;
}

.restaurant-name{
    text-align: center;
    font-size: 1.5rem;
    margin: 5%;
}

.desc{
    text-align: center;
    font-size: .7rem;
}

.distance{
    text-align: center;
    margin-top: 12%;
    padding-bottom: 7%;
}

a {
    text-decoration: none;
    color: #ffffff;
    width: 20%;
    margin: 4%;
}

.icon-restro{
    width: 10%;
    margin-left: 3%;
}

.location-text-restro{
    margin-right: 10%;
    margin-top: 5%;
    margin-bottom: 20%;
}

.watering{
    font-size: 2.3rem;
    text-align: center;
    margin-top: 25%;
    margin-bottom: 15%;
}

.flex-restro{
    display: flex;
    flex-wrap: wrap;
}

.box-restro{
    width:28%;
    margin: 2%;
    margin-top: 0;
    margin-bottom: 0;
}

.astro-icon{
    margin-top: 7%;
    overflow: hidden;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 25px;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
}

.restro-name{
    text-align: center;
    font-size: 2rem;
    margin: 5%;
    margin-bottom: 5%;
}

.stats{
    margin-bottom: 06%;
}

.menu{
    text-align: center;
    font-size: 1.5rem;
    margin-top: 15%;
}

.menu-item{
    text-align: center;
    font-size: 1rem;

}



.food-image{
    margin-top: 0;
    width: 100%;
    opacity: 60%;
    width: 120%;
    bottom: 10%;
    margin-bottom: 0;
}

.order-button{
    text-align: center;
    font-size: 1.5rem;
    margin-top: 0;
    margin-bottom: 5%;
    width: 32%;
    padding: 3%;
    margin-left: 30%;
    background: rgba(34, 34, 34, 0.42);
    border-radius: 25px;
}

.order-button-text{
    margin-top: 5%;
    padding: 0;
}

.order-button:hover{
    border: 1px solid #2A6D7C;
}

.icon-cart{
    width: 5%;
    margin-left: 3%;
}

.location-text-cart{
    margin-top: 4.2%;
    font-size: 1.2rem;
    margin-bottom: 0;
}

.watering-cart{
    text-align: center;
    font-size: 4rem;
    margin-top: 1.5%;
}

.cart-items{
    
    background: #010101;
    box-shadow: 0px 4px 4px rgba(60, 126, 118, 0.55);
    border-radius: 25px;
    width: 50%;
    margin-left: 25%;
    padding: 2%;

}

.cart-item{
    margin-left: 10%;
    font-size: 1.2rem;
}

.qty{
    font-size: 1.2rem;
}

.fixcart{
    width: 50%;
}

.item-qty{
    width: 20%;
    margin-left: 26%;
}

.item{
    display: flex;
    margin-bottom: 3%;
    margin-top: 3%;
}

a:link {
    text-decoration: none;
}

.place-order-button{
    padding: 1%;
    margin: 0;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 40%;
    width: 20%;
}

.navbar {
    height: 5rem;
    background: #1A1C22 !important;
}

.container-1 {
    background: #1A1C22;
    height: 80px;
}

.navbar-brand {
    background: #1A1C22;
}

.logo {
    background: #1A1C22;
    width: 4.063rem;
}

.bag-fill {
    width: 1.625rem;
    margin-inline: 1.25rem;
}

.cartbag {
    display: none;
}

.nav-item {
    background: #1A1C22;
}

.nav-link {
    color: white !important;
    background: #1A1C22;
    transition: opacity 1s;
}

.nav-link:hover {
    opacity: 75%;
}

.tofoodships {
    margin-inline: 1.25rem;
    font-family: 'Roboto', sans-serif;
}

@media only screen and (max-width: 900px){
    .bag-fill {
        display: none;
    }

    .cartbag {
        display: block;
        background: #1A1C22;
        font-family: 'Roboto', sans-serif;
        margin-bottom: 0;
    }

    .top{
        display: none;

    }

    .flex-restro{
        width: 100%;
        background: url(../assets/astro_spices_food.jpg) no-repeat center center fixed;
        display: block;
        background-blend-mode: screen;
        padding-bottom: 3%;
    }

    .food-image-div{
        display: none;
    }

    .box-restro{
        width: 100%;
        margin: 0;
        margin-top: 0;
        margin-bottom: 0;
    }

    .stats{
        text-align: center;
    }
    
    .misc{
        text-align: center;
    }

    .menu{
        margin-top: 5%;
    }

    .watering{
        margin-top: 2%;
        margin-bottom: 0;
    }

    .cart-items{
        width: 90%;
        margin-left: 3%;
    }

    .cart-item{
        font-size: .8rem;
    }

    .qty{
        font-size: .8rem;
    }

    


}

@media only screen and (max-width: 550px){
    .flex-container{
        display: block;
    }
}