* {
    background: url(../assets/bg_homepage.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: white;
}

@font-face {
    font-family: PressStart2P;
    src: url(../assets/PressStart2P-Regular.ttf);
}

.col {
    height: 100vh;
}   

.left-col {
    margin-left: -100px;
    margin-right: 100px;
}

.right-col {
    margin-right: -100px;
    margin-left: 100px;
}

.row>* {
    display: inline-grid;
    align-items: center;
}

img {
    width: 415px;
    transition: opacity 1s;
}

.subheading {
    font-size: 36px;
    font-family: PressStart2P;
    text-align: left;
    padding-top: 10px;
    transition: opacity 1s;
}

.right-arrow {
    width: 40px;
    padding-bottom: 10px;
}

span:hover {
    opacity: 75%;
    cursor: pointer;
}